/*============    IMPORT START  ===========*/
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.eot');
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik Light';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/*Variables for fonts Start*/
.robotoReg {
  font-family: 'Roboto Regular';
  font-weight: normal;
}
.robotoMed {
  font-family: 'Roboto Medium';
  font-weight: 500;
}
.robotoLight {
  font-family: 'Roboto Light';
  font-weight: 300;
}
.robotoBold {
  font-family: 'Roboto Bold';
  font-weight: bold;
}
.robotoBlack {
  font-family: 'Roboto Black';
  font-weight: 900;
}
.rubikL {
  font-family: 'Rubik Light';
  font-weight: 300;
  font-weight: normal;
}
/*Variables for fonts End*/
/*============    IMPORT END  ===========*/
/*Variables for colors*/
.black {
  color: #232323;
}
.bgblack {
  background: #000000;
}
.blue {
  color: #27ACB0;
}
.blueBg {
  background: #27ACB0;
}
.purple {
  color: #60255e;
}
.purpleBg {
  background: #60255e;
}
.white {
  color: #ffffff;
}
.bgWhite {
  background: #ffffff;
}
/* Header Section Start*/
header .headerlogoFluid {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #ffffff), to(#e2e3e3));
  background: -webkit-linear-gradient(left, #ffffff 60%, #e2e3e3);
  background: -o-linear-gradient(left, #ffffff 60%, #e2e3e3);
  background: linear-gradient(to right, #ffffff 60%, #e2e3e3);
}
header .headerlogoFluid .headerlogoContainer .headerWrap {
  min-height: 128px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .headerWrapLogo {
  cursor: pointer;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul a {
  font-family: 'Roboto Regular';
  font-weight: normal;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderGetApp {
  margin-right: 65px;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderGetApp a {
  background: -webkit-gradient(linear, left top, right top, from(#723e8e), color-stop(#56669b), to(#3498aa));
  background: -webkit-linear-gradient(left, #723e8e, #56669b, #3498aa);
  background: -o-linear-gradient(left, #723e8e, #56669b, #3498aa);
  background: linear-gradient(to right, #723e8e, #56669b, #3498aa);
  color: #ffffff;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderJoin {
  margin-right: 30px;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderJoin a {
  background: #ffffff;
  -webkit-border: 2px solid #60255e;
  border: 2px solid #60255e;
  color: #60255E;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderJoin a:hover {
  background: #60255e;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
  color: #ffffff;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderSIgnIn {
  margin-right: 0;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderSIgnIn a {
  background: #ffffff;
  -webkit-border: 2px solid #27ACB0;
  border: 2px solid #27ACB0;
  color: #27ACB0;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderSIgnIn a:hover {
  background: #27ACB0;
  color: #ffffff;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul li a {
  padding: 7px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
header .headerMenuFluid {
  background: #ffffff;
  padding-right: 12px;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
  min-height: 80px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /*Hide on desktop */
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .closeBtnMenu {
  display: none;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
  margin-right: 70px;
  color: #232323;
  font-family: 'Roboto Regular';
  font-weight: normal;
  padding-bottom: 8px;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a:hover {
  border-bottom: 2px solid #27acb0;
  -moz-transition: all 0.2s 0.02s ease;
  -o-transition: all 0.2s 0.02s ease;
  -webkit-transition: all 0.2s 0.02s ease;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .openNav {
  display: none;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerSocial ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerSocial ul li {
  margin-right: 18px;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerSocial ul li img {
  cursor: pointer;
}
header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerSocial ul li:last-child {
  margin-right: 0;
}
/* Header Section End*/
/* Header Section Media queries Start*/
@media (min-width: 0px) and (max-width: 320px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 100px;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .headerWrapLogo {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderGetApp,
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderJoin {
    margin-right: 5px;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul li a {
    padding: 7px 8px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
    min-height: 70px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    /*Hide on desktop */
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #563e55;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav {
    display: block;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
    display: block;
    margin-right: 0;
    font-size: 19px;
    color: #ffffff;
    border-bottom: 2px solid #563e55;
    background: #e0c6df;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a:hover {
    color: #fff;
    background: #60255e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #000;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-bottom: 100px;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .headerWrapLogo {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderGetApp,
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul .rightHeaderJoin {
    margin-right: 15px;
  }
  header .headerlogoFluid .headerlogoContainer .headerWrap .rightHeaderWrap ul li a {
    padding: 7px 7px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
    min-height: 70px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    /*Hide on desktop */
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #563e55;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav {
    display: block;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
    display: block;
    margin-right: 0;
    font-size: 19px;
    color: #ffffff;
    border-bottom: 2px solid #563e55;
    background: #e0c6df;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a:hover {
    color: #fff;
    background: #60255e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #000;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /*Header start*/
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
    min-height: 70px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    /*Hide on desktop */
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #563e55;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav {
    display: block;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
    display: block;
    margin-right: 0;
    font-size: 29px;
    color: #ffffff;
    border-bottom: 2px solid #563e55;
    background: #e0c6df;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a:hover {
    color: #fff;
    background: #60255e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #000;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
    min-height: 70px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    /*Hide on desktop */
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #563e55;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    text-align: center;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav {
    display: block;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
    display: block;
    margin-right: 0;
    font-size: 29px;
    color: #ffffff;
    border-bottom: 2px solid #563e55;
    background: #e0c6df;
    text-transform: uppercase;
    padding: 20px 0;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a:hover {
    color: #fff;
    background: #60255e;
    border-bottom: 2px solid #ffffff;
    -moz-transition: all 0.2s 0.02s ease;
    -o-transition: all 0.2s 0.02s ease;
    -webkit-transition: all 0.2s 0.02s ease;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .closeBtnMenu {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .openNav {
    display: block;
    margin-top: -14px;
    font-size: 35px;
    cursor: pointer;
    color: #000;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap {
    min-height: 100px;
  }
  header .headerMenuFluid .headerMenuContainer .headerMenuWrap .headerMenu .navMenu .ulNav li a {
    margin-right: 40px;
  }
}
/* Header Section Media queries End*/
